
<% if !@next_question.correct_answer? %> <span style="color:red; font-size:200%">ERROR, NO CORRECT ANSWER!</span> <% end %><br>
| <%= @previous_question.nr %> | <%= @previous_question.title %><br>
<ul>
<% previous_question.answers.each do |answer| %>
  <% if @previous_question_selected_answer.id == answer.id
    answer_color = "red" 
  elsif @previous_question.correct_answer == answer.id
    answer_color = "green"
  end %>
  <li><p style="color:<%= answer_color %>;"><%= answer.name %></p></li>
<% end %> 
</ul>

<h2><%= session[:correct_questions] %> out of <%= session[:question_counter_max] %>, that's 
<%= ( (session[:correct_questions].to_f / session[:question_counter_max].to_f) * 100).to_i %>% correct</h2>
<img src="https://media.giphy.com/media/GA2FNpP1kAQNi/giphy.gif" alt=":O", width="100%">
</br>
</br>

