<%= stylesheet_link_tag "main_page" %>
<%= link_to "Total answered questions: #{@total_answered_questions}", root_url, id: "total_questions", class: "text-center btn btn-primary btn-lg" %>
<%#= link_to "Questions", questions_path, class: "btn btn-primary btn-lg sharp", id: "questions-button"  %>
<%= button_to "Random 70", random_questions_path, remote: :true,  class: "btn btn-primary btn-lg sharp-purple", id: "random-button"  %>
<div id="category-list" class="text-center">
	<% @categories.each do |category| %>
		<%= button_to "#{Question.where("category = ?", category).count} #{category}", home_new_question_path(category: category), remote: true, class: "btn btn-primary btn-lg sharp"  %>
	<% end %>
</div>
<div id="current-question-placeholder">
</div>
<div id="response"></div>
<div id="creators" class="text-center">
	Q&A Project for education</br>
	<%= image_tag "close-envelope.png" %>
	marisancans@gmail.com</br>
	Gihub:
	<%= link_to "https://github.com/marisancans/c9" do %>
	  <%= image_tag "github-logo.png" %>
	<% end %>
</div>



