<%= stylesheet_link_tag "main_page" %>

<%= link_to "Questions", questions_path, class: "btn btn-primary btn-lg sharp", id: "questions-button"  %>
<%= button_to "Random", random_questions_path, remote: :true,  class: "btn btn-primary btn-lg sharp-yellow", id: "random-button"  %>
<div id="category-list" class="text-center">
	<% @categories.each do |category| %>
		<%= button_to "#{Question.where("category = ?", category).count} #{category}", home_new_question_path(category: category), remote: true, class: "btn btn-primary btn-lg sharp"  %>
	<% end %>
</div>
<div class="btn-group-vertical" id="current-question-placeholder" role="group">
</div>
<div id="response"></div>
<div id="email">marisancans@gmail.com
<%= link_to "Github", "https://github.com/marisancans/c9" %>
</div>




