<%= stylesheet_link_tag "main_page" %>
<div class="container text-center"> 
	<h4> Visiter list </h4>
	<h5> Your ip: <%= request.remote_ip %></h5>
		<table class="table-fill table table-bordered table-responsive">
		 <thead>
	    <tr>
	    	<th>IP</th>
	      <th>Total questions</th>
	      <th>Last active</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @visiters.each do |v| %>
	  		<% col_color = "outline: solid #3333ff;" if v.ip == request.remote_ip %>
		    <tr style="<%= col_color %>">
		    	<td><%= v.ip %></td>
		      <td><%= v.total_question_count %></td>
		      <td><%= v.last_active %></td>
		    </tr>
		   <% end %>
	  </tbody>
	</table>
</div>		